<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статья [И504Б Алексеев Федор]</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Lab2</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Статья
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="index.html#definition">Определение слова «кошка»</a></li>
                            <li><a class="dropdown-item" href="index.html#role">Значение и этимология слова «кошка»</a></li>
                            <li><a class="dropdown-item" href="index.html#science">Научная классификация</a></li>
                            <li><a class="dropdown-item" href="index.html#history">Происхождение и история одомашнивания</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="graph.html">Графики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="notes.html">Заметки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="form.html">Анкета</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row"><a download href="{{file}}">Ссылка</a></div>
        <div class="row"><img class="img-thumbnail" src="{{link}}" alt="Сохраненная картинка"></div>
    </div>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>